.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    height: 150px;
    background-color: #9cce8d;
}

.avatar {
    width: 65px;
    height: 65px;
    margin: 70px 0 0 5px;
    border-radius: 30px;
}

.triangle {
    border-bottom: 20px solid #186203FF;
    border-left: 40px solid transparent;
    margin: 0 -25px 15px 0;
}


.containerForMessage {
    align-self: center;
    width: 240px;
    height: 120px;
    background-color: #186203;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.name {
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    color: #cd7de7;
}

.message {
    font-size: 18px;
    color: #faf4f4;
    padding-left: 10px;
}


.time {
    display: flex;
    justify-content: end;
    color: #60b649;
    font-size: 18px;
    padding-right: 10px;
}